<%= render 'navbar' %>

<div class="container">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h2>ユーザ管理</h2>
  <hr />

  <table class="user_list table table-bordered">
    <tr>
      <th>名前</th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td class="command"><%= link_to '編集', edit_user_path(user) %></td>
      <td class="command"><%= link_to '削除', user, confirm: 'よろしいですか？', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to '作成', new_user_path, class: 'btn' %>
</div>
