<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">microblog-test</a>
      <div class="nav-collapse">
        <ul class="nav">

          <li class="active"><a href="/">Home</a></li>
          <li><a href="/users">ユーザ管理</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <h2>いまなにしてる？</h2>
  <hr />

  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited
          this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <i class="icon-user"></i> <%= select("post", "user_id", User.all.collect {|p| [ p.name, p.id ] }) %>

    <div class="field">
      <%= f.text_area :text, :class => "span5", :rows => 5 %>
    </div>

    <a class="btn" href="#" onclick="document.forms[0].submit()">ツイート</a>
  <% end %>

  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <strong><%= post.user ? post.user.name : "(退会ユーザー)" %></strong><br />
        <%= post.text %><br />
        <div class="posted_time">
          <span class="posted_time"><%= post.created_at.getlocal.strftime("%Y-%m-%d %H:%M:%S") %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
