<h1>いまなにしてる？</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Text</th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.user ? post.user.name : "" %></td>
    <td><%= post.text %></td>
  </tr>
<% end %>
</table>
