<h1>いまなにしてる？</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= select("post", "user_id", User.all.collect {|p| [ p.name, p.id ] }) %>

  <div class="field">
    <%= f.text_area :text, :cols => 40, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit :value => "送信" %>
  </div>
<% end %>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <strong>@<%= post.user ? post.user.name : "" %></strong><br />
      <%= post.text %><br />
      <%= post.created_at.getlocal.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
  <% end %>
</div>
